<header class='containerNav'>
    <nav class='nav'>
        <ul class='nav_list'>
            <li class='nav_page'>
                <a href="/api/products">Products</a>
            </li>
            <li class='nav_page'>
                <a href="/api/carts/65ad98aa813faafe418d2fde">Cart</a>
            </li>
            <li class='nav_page'>
                <a href="/api/profile">Profile</a>
            </li>
        </ul>
    </nav>
    <button class='nav-btn'>
        <FaBars />
    </button>
</header>

<h1>Carrito</h1>

<h3>Productos en el carrito</h3>
  
<div class="container">
    <div class="cart-container">
    {{#each cartId}}
        <div class="cart-card">
            <div class="info-card">
                <div class="img">
                    <img src="{{this.product.thumbnail}}">
                </div>
            </div>
            <div class="info-text">
                <p class="info-text-title">{{this.product.title}}</p>
                <div class="info-text-price">
                    <p>Price: ${{this.product.price}}</p>
                    <p>Stock: {{this.product.stock}}</p>
                </div>
            </div>
            <div class="info-total">
                <p>Cant: {{this.quantity}}</p>
                <p>P/Uni.: {{this.product.price}}</p>
                <p>Total: </p>
            </div>
        </div>
    {{/each}}
    </div>
    <h3>Total del carrito: </h3>
</div>