<h2>Lista de Productos</h2>

<div class="containerP">
    <div class="products-container">
        {{#if productFound}}
        <div class="container">
            <div class="productCard">
                <div class="info">
                    <p class="product-title">{{productFound.title}}</p>
                    <div class="images">
                        <div class="img">
                            <img src="{{productFound.thumbnail}}">
                        </div>
                    </div>
                    <p>{{productFound.category}}</p>
                    <p>{{productFound.description}}</p>
                    <p>CODE: {{productFound.code}}</p>
                    <div class="info-price">
                        <p>PRICE: ${{productFound.price}}</p>
                        <p>STOCK: {{productFound.stock}}</p>
                    </div>
                </div>
                <a href="/api/carts/65ad98aa813faafe418d2fde"><button class="button" onclick="addToCart('{{ productFound._id }}')">Add to Cart</button></a>
            </div>
        </div>
        {{else}}
        {{#each products}}
        <div class="productCard">
            <div class="info">
                <p class="product-title">{{this.title}}</p>
                <div class="images">
                    <div class="img">
                        <img src="{{this.thumbnail}}">
                    </div>
                </div>
                <p>{{this.category}}</p>
                <p>{{this.description}}</p>
                <p>CODE: {{this.code}}</p>
                <div class="info-price">
                    <p>PRICE: ${{this.price}}</p>
                    <p>STOCK: {{this.stock}}</p>
                </div>
            </div>
            <a href="/api/carts/65ad98aa813faafe418d2fde"><button class="button" onclick="addToCart('{{ this._id }}')">Add to Cart</button></a>
        </div>
        {{/each}}
        {{/if}}
    </div>
    {{#if hasPrevPage}}
        <a href="{{prevLink}}"><button class="button">Anterior</button></a>
    {{/if}}

    {{#if hasNextPage}}
        <a href="{{nextLink}}"><button class="button">Siguiente</button></a>
    {{/if}}
</div>

<script src="/js/index.js"></script>
