<h2>Lista de Productos</h2>

{{#each products}}
    <div class="container">
        <div class="productCard">
            <div class="info">
                <p>{{this.id}}</p>
                <p>{{this.title}}</p>
                <p>{{this.description}}</p>
                <p>{{this.code}}</p>
                <p>${{this.price}}</p>
                <p>{{this.status}}</p>
                <p>{{this.stock}}</p>
                <p>{{this.category}}</p>
            </div>
            <div class="images">
                <div class="img">
                    <img src="{{this.thumbnail}}">
                </div>
            </div>
        </div>
    </div>
{{/each}}

