<header class='containerNav'>
    <nav class='nav'>
        <ul class='nav_list'>
            <li class='nav_page'>
                <a href="/api/products">Products</a>
            </li>
            <li class='nav_page'>
                <a href="/api/carts">Cart</a>
            </li>
            <li class='nav_page'>
                <a href="/api/profile">Profile</a>
            </li>
            {{#if isAdmin}}
            <li class='nav_page'>
                <a href="/api/users">Users</a>
            </li>
            {{/if}}
        </ul>
        <div class='nav-icons'>
            <p>BIENVENIDO/A:</p>
            <p class="nameUser">{{user.first_name}}</p>
            <p class="nameUser">Role: {{user.role}}</p>
        </div>
    </nav>
    <button class='nav-btn'>
        <FaBars />
    </button>
</header>

<h2>Users</h2>

<div class='userContainer'>
    <div class="infoUserContainer">
        <input type="text" id="searchUserId" placeholder="Buscar usuario por ID...">
        <button class="searchButton" onclick="searchUsers()">Buscar</button>
    </div>
    <br>
    <div class="infoUserContainer">
        <table border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Rol</th>
                    <th>Modificar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {{#each usersFiltered}}
                <tr>
                <td>{{this._id}}</td>
                <td>{{this.first_name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.role}}</td>
                <td>
                    <a href="/api/editUser/{{ this._id }}">
                    <svg class="feather feather-edit" fill="none" style="color: white" height="21" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" viewBox="0 0 24 24" width="21" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"/><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"/>
                    </svg>
                    </a>
                </td>
                <td>
                    <svg onclick="deleteUser('{{ this._id }}')" style="color: white" xmlns="http://www.w3.org/2000/svg" fill="currentColor" x="0px" y="0px" width="25" height="25" viewBox="0 0 64 64">
                        <path d="M 28 6 C 25.791 6 24 7.791 24 10 L 24 12 L 23.599609 12 L 10 14 L 10 17 L 54 17 L 54 14 L 40.400391 12 L 40 12 L 40 10 C 40 7.791 38.209 6 36 6 L 28 6 z M 28 10 L 36 10 L 36 12 L 28 12 L 28 10 z M 12 19 L 14.701172 52.322266 C 14.869172 54.399266 16.605453 56 18.689453 56 L 45.3125 56 C 47.3965 56 49.129828 54.401219 49.298828 52.324219 L 51.923828 20 L 12 19 z M 20 26 C 21.105 26 22 26.895 22 28 L 22 51 L 19 51 L 18 28 C 18 26.895 18.895 26 20 26 z M 32 26 C 33.657 26 35 27.343 35 29 L 35 51 L 29 51 L 29 29 C 29 27.343 30.343 26 32 26 z M 44 26 C 45.105 26 46 26.895 46 28 L 45 51 L 42 51 L 42 28 C 42 26.895 42.895 26 44 26 z"></path>
                    </svg>
                </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script src="/js/user.js"></script>